## Análisis Exploratorio de datos

### Importando Librerías

In [2]:
# eliminar warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#llamo el dataset a analizar
Overdose = pd.read_csv("datasets/VSRR_Provisional_Drug_Overdose_Death_Counts_ cleaned.csv")
Overdose.head()

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,"Natural, semi-synthetic, & synthetic opioids, ...",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,Number of Deaths,4133.0,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
4,AK,2015,April,12 month-ending,"Opioids (T40.0-T40.4,T40.6)",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN

In [5]:
# cantidad de filas y columnas
Overdose.shape

(41625, 12)

In [6]:
#medidas de estadística descriptiva 
Overdose.describe()

               Year    Data Value  Percent Pending Investigation
count  41625.000000  2.835200e+04                   41625.000000
mean    2017.640000  1.622501e+04                       0.118325
std        1.808446  1.493001e+05                       0.164735
min     2015.000000  1.000000e+01                       0.000000
25%     2016.000000  9.600000e+01                       0.017452
50%     2018.000000  3.220000e+02                       0.052672
75%     2019.000000  1.447250e+03                       0.153807
max     2021.000000  3.536272e+06                       1.411568

In [7]:
Overdose.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41625 entries, 0 to 41624
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          41625 non-null  object
 1   Year                           41625 non-null  int64
 2   Month                          41625 non-null  object
 3   Period                         41625 non-null  object
 4   Indicator                      41625 non-null  object
 5   Data Value                     28352 non-null  float64
 6   Percent Complete               28305 non-null  object
 7   Percent Pending Investigation  41625 non-null  float64
 8   State Name                     41625 non-null  object
 9   Footnote                       35388 non-null  object
 10  Footnote Symbol                41625 non-null  object
 11  Predicted Value                20571 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 3.8+ MB

In [8]:
#busqueda de datos nulos 
Overdose.isnull().sum()

State                                0
Year                                 0
Month                                0
Period                               0
Indicator                            0
Data Value                       13273
Percent Complete                 13320
Percent Pending Investigation        0
State Name                           0
Footnote                          6237
Footnote Symbol                      0
Predicted Value                  21054
dtype: int64

### Variables Categóricas

In [12]:
#creación de variables categoricas para luego transformar en dummies 
v_categoricas=["State", "Year", "Month","Indicator"]
v_categoricas

['State', 'Year', 'Month', 'Indicator']